.button-row {
    border-top: 1px solid #d8d9d9;
    border-bottom: 1px solid #d8d9d9;
    background-color: white;
}

#comment-username {
    color: #02b7e2;
}

#comment-mark-seen {
    color: goldenrod;
}

#comment-mark-seen:hover {
    text-decoration: underline;
    cursor: pointer;
}

#comment-elapsed-time {
    color: #8c8c8e;
}

.comment-dropdown{
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.comment-row {
    border-bottom: 1px dashed #d8d9d9;
}

.comment-user-img {
    height: 50px;
    border-radius: 100%;
}

.comment-details {
    margin-bottom: 2px;
}

.property-image {
    box-shadow: 3px 3px 10px #8c8c8e;
    margin-bottom: 40px;
}

.icon-image {
    height: 26px;
}

#alert-btn {
    background-color: #02b7e2;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #8c8c8e;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #404041; 
}